<div @attributes="InputAttributes" >
    <svg width="@Width" height="@Height" xmlns="http://www.w3.org/2000/svg">
        <rect width="@Width" height="@Height" x="0" y="0" rx="5" ry="5" fill="@Color"/>
    </svg>
</div>
@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    [Parameter] public string Width { get; set; } = "12";

    [Parameter] public string Height { get; set; } = "12";

    [Parameter] public string Color { get; set; } = "black";
}