@if (!string.IsNullOrWhiteSpace(this.Placeholder))
{
    <label class="form-label" for="@Id">@Placeholder</label>
}
<input style="margin:5px;" type="range" enabled="@Enabled" class="form-range" id="@Id" max="@Max" min="@Min" value="@Value"
       @onchange="OnValueChanged" @oninput="OnValueChanged"/>

@code{
    [Parameter] public string Id { get; set; } = Guid.NewGuid().ToString();
    [Parameter] public string? Placeholder { get; set; }
    [Parameter] [EditorRequired] public int Value { get; set; } = default!;
    [Parameter] public EventCallback<int> ValueChanged { get; set; }
    [Parameter] public bool Enabled { get; set; } = true;
    [Parameter] public double Min { get; set; }
    [Parameter] public double Max { get; set; }


    private void OnValueChanged(ChangeEventArgs obj)
    {
        var oldValue = this.Value;
        if (obj.Value == null)
        {
            this.Value = 0;
        }
        else
        {
            int.TryParse(obj.Value.ToString(), out int value);
            this.Value = value;
        }

        if (oldValue != this.Value)
            this.ValueChanged.InvokeAsync(this.Value);
    }

}